/* Construction.css */
/* Construction.css */
.construction-container {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de los elementos a columnas */
  justify-content: center;
  align-items: center;
  height: 20vh;
  cursor: pointer;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

.construction-text {
  font-family: 'Courier New', sans-serif; /* Corregido 'Courier New' */
  font-weight: bold;
  font-size: 25px;
  color: #b9b9b9;
  text-shadow: -5px 0px 10px rgba(255, 255, 255, 0.5); /* Difuminado con sombra */
  filter: blur(1px); /* Difuminado con filtro */
  animation: distort 20s infinite alternate; /* Aplicar la animación de distorsión */
  margin-bottom: 10px; /* Agregado espacio inferior para separar del elemento de scroll */
}

.construction-scroll {
  font-family: 'Courier New', sans-serif; /* Corregido 'Courier New' */
  font-size: 26px; /* Modificado el tamaño de fuente para diferenciarlo */
  color: #b9b9b9;
  filter: blur(1px);
}

@media screen and (max-width: 480px) { /* Corregido el operador de comparación */
  .construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    cursor: pointer;
  }
  .construction-text {
    font-family: 'Courier New', sans-serif; /* Corregido 'Courier New' */
    font-weight: bold;
    font-size: 15px;
    color: #b9b9b9;
  }
}

@keyframes distort {
  0% {
    transform: scaleX(0.7) scaleY(0.7); /* Escala inicial */
    text-shadow: -5px 0px 10px rgba(255, 255, 255, 0.5); /* Difuminado con sombra */
    filter: blur(0.5px); /* Difuminado con filtro */
  }
  50% {
    transform: scaleX(1) scaleY(1); /* Distorsión */
  }
  100% {
    transform: scaleX(1.3) scaleY(1.3); /* Distorsión inversa */
    text-shadow: -5px 0px 10px rgba(255, 255, 255, 0.5); /* Difuminado con sombra */
    filter: blur(1.35px); /* Difuminado con filtro */
  }
}
